.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 90px;
}

.empty__list {
  align-self: center;
  margin-top: 5px;
}
