form {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }