.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttonCancel {
  background-color: var(--cancel-color);
  color: white;
}

.buttonSave {
  background-color: var(--header-table);
}

.buttonSave:hover {
  background-color: rgb(138, 144, 168);
  transition: 0.2s;
}

.buttonCancel:hover{
  background-color: #d44a4a;
  transition: 0.2s;
  color: white;
}

:root {
  --main-color: #373867;
  --width: 60%;
  --cancel-color: #ff7c7c;
  --header-table: #EBECF0;
}