.table {
  width: var(--width);
}

.addbutton {
  padding: 0 12px;
  margin-left: 3px;
  margin-top: 10px;
  border-radius: 40px;
  background-color: var(--header-table);
}

.empty__list {
  align-self: center;
  margin-top: 5px;
}

.addbutton:hover{
  background-color: #8787A4;
  transition: 0.2s;
}

:root {
  --main-color: #373867;
  --width: 60%;
  --header-table: #EBECF0
}