.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.container thead {
  display: flex;
  background: rgba(55, 56, 103, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}