.entity {
  margin: 0;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: var(--table-width);
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  padding-block: 5px;
  margin-bottom: 5px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.icons a {
  background: transparent;
  color: #81AFDD;
}

.icons button {
  background: transparent;
  color: #81AFDD;
}

.tHead tr {
  padding-block: 10.48px;
  background: rgb(8, 22, 36);
  color: #cb7cbd;
}

.tHead th {
  font-weight: 500;
  padding-block: 10px;
  text-align: center;
}

.tRow {
  color: #81AFDD;
  background: rgb(8, 22, 36);
}

.tRow td {
  font-weight: 300;
  padding-block: 15px;
  text-align: center;
}

.tRow td:hover {
  background: rgba(85, 85, 85, 0.356);
  transition: 0.5s;
}

.table__button {
  padding: 0 8px;
  border: none;
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  color: var(--main-color);
  width: var(--table-width);
  margin-bottom: 20px;
}

:root {
  --main-color: #373867;
  --table-width: 65%;
  --header-table-color: #EBECF0
}