.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  gap: 5px;
  margin-top: 3px;
  }

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border: 1px solid transparent;
  padding: 9px 8px;
  border-radius: 8px;
  background-color: #21252e6b;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

select:hover {
  background: #32374169;
}

.select:focus {
  outline: none !important;
  background-color: #797d8a5e;
  transition: 0.2s;
}

.label p {
  color: #b00058;
  font-size: 12px;
  }
