table {
    display:table;
    width: 100%;
    table-layout: fixed;
  }

tr {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
