.form h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  border-radius: 10px;
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 800;
}

.form span {
  display: flex;
  justify-content: center;
  color: #8150b4;
}

.form span a{
  margin-left: 2px;
  font-weight: 800;
}

.form span a:hover {
  color: #b6b6b6;
  transition: 0.5s;
}

.form__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 60px 0;
}

.box {
  position: relative;
  background: #000000;
  border-radius: 8px;
  overflow: hidden;
  padding: 2px;
  z-index: 2;
}

.box:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,#AE67FA,#AE67FA);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  z-index: -1;
}

.box:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg,transparent,#AE67FA,#AE67FA);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
  z-index: -1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 330px;
  gap: 13px;
  padding: 20px;
  color: var(--main-color);
  inset: 2px;
  background: rgb(8, 22, 36);
  z-index: 1;
}

.div__buttons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 30px;
}

.form__width__max{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content!important;
}

.form select {
  font-size: 0.8rem;
  background-color: #21252e6b;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.form select:hover {
  background: #32374169;
}

.form select:focus {
  outline: none !important;
  background-color: #797d8a5e;
  transition: 0.2s;
}

.form select option {
  background-color: rgb(8, 22, 36);
}