.form__label {
  font-weight: 600;
}

.form__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.9rem;
  color: #AE67FA;
}

.employee__form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.employee__form label {
  margin-top: 15px;
  color: #AE67FA;
  font-weight: 400;
  gap: 0;
}

.employee__form button{
  margin-top: 10px;
  align-self: center;
}

.employee__form input {
  margin-top: 10px;
}

.employee__form select{
  margin-top: 15px;
}

.formRaws{
  display: flex;
  flex-direction: column;
}

.inputs{
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
  border: 2px solid #EA3354;
  border-radius: 4px;
}


.addEmployeeButton{
  display: flex;
  justify-content: center;
}

.submitDiv{
  margin-top: 20px;
}

.submit{
  background-color: #EA3354;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  gap: 5px;
  margin-top: 3px;
  color: #AE67FA;
}

.select {
  align-self: stretch;
  border: 1px solid transparent;
  padding: 9px 8px;
  border-radius: 10px;
  background-color: #d0d4e4;
  margin-top: 15px;
}
.select:focus {
  outline: none !important;
  background-color: #ABB0C3;
  transition: 0.2s;
}