/*.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

/*h2{
  color: #EA3354;
}
/* h2{
    color: #EA3354;
} */

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formRaws{
  display: flex;
  flex-direction: column;
}

.inputs{
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
  border: 2px solid #EA3354;
  border-radius: 4px;
}


.addEmployeeButton{
  display: flex;
  justify-content: center;
}

.submitDiv{
  margin-top: 20px;
}

.submit{
  background-color: #EA3354;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}