.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--main-color);
  font-weight: 600;
  gap: 5px;
  margin-top: 3px;
}

.label input {
  align-self: stretch;
  border: 1px solid transparent;
  padding: 9px 8px;
  border-radius: 10px;
  background-color: #d0d4e4;
  color: #1F1F45
}

.label input:focus {
  outline: none !important;
  background-color: #abb0c3;
  transition: 0.2s;
}

.label p {
  color: #b00058;
  font-size: 12px;
}

.inputRed {
  border: 1px solid red !important;
}

:root {
  --main-color: #373867;
  --form-padding: 20px;
}
