.label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: 0.8rem;
  color: #AE67FA;
  gap: 2px;
  margin-top: 3px;
}

.label input {
  position: relative;
  align-self: stretch;
  padding: 9px 8px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: solid #AE67FA 1px;
}

.label input:focus {
  outline: none !important;
  transition: 0.2s;
}

.label p {
  color: #b00058;
  font-size: 12px;
}

.inputRed {
  border: 1px solid #b00058 !important;
}
