.form__button {
  position: relative;
  background: #81AFDD;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  font-weight: 400;
  transition: 0.5s;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.form__button:hover {
  letter-spacing: 0.25rem;
}

.form__button:before {
  content: '';
  position: absolute;
  inset: 2px;
  background: rgb(8, 22, 36);
}

.form__button div {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 1;
}

.form__button i {
  position: absolute;
  inset: 0;
  display: block;
}

.form__button i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: rgb(8, 22, 36);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.form__button:hover i::before {
  width: 20px;
  left: 20%;
}

.form__button i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: rgb(8, 22, 36);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.form__button:hover i::after {
  width: 20px;
  left: 80%;
}

.form__button__add__employee {
  width: 60px;
  height: 28px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.form__button__add__employee:hover {
  transition: 0.2s;
}

.form__button:hover {
  transition: 0.2s;
}

.green {
  color: white;
}

.green:hover {
  background: #6eff3e;
  box-shadow: 0 0 10px #6eff3e;
}

.red {
  color: white;
}

.red:hover {
  background: #ff1867;
  box-shadow: 0 0 10px #ff1867;
}

.blue {
  color: white;
}

.blue:hover {
  background: #1e9bff;
  box-shadow: 0 0 10px #1e9bff;
}

.create__button {
  position: relative;
  background: #81AFDD;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.85rem;
  font-weight: 400;
  transition: 0.5s;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}


.create__button:hover {
  letter-spacing: 0.25rem;
}

.create__button:before {
  content: '';
  position: absolute;
  inset: 2px;
  background: rgb(8, 22, 36);
}

.create__button div {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 1;
}

.create__button i {
  position: absolute;
  inset: 0;
  display: block;
}

.create__button i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: rgb(8, 22, 36);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.create__button:hover i::before {
  width: 20px;
  left: 20%;
}

.create__button i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: rgb(8, 22, 36);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.create__button:hover i::after {
  width: 20px;
  left: 80%;
}

.list__button {
  border: none;
  background-color: white;
  color: var(--main-color);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.options__button {
  margin: 0 10px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 18px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.options__close {
  background-color: var(--close-color);
}

.options__close:hover {
  transition: 0.2s;
  background-color: var(--hover-close-color);
}

.header__button {
  padding: 0;
  border: none;
  background-color: white;
  color: var(--main-color);
  cursor: pointer;
}

.header__button:hover {
  transition: 0.2s;
  color: var(--hover-close-color);
}


:root {
  --main-color: #373867;
  --form-width: 300px;
  --cancel-color: #ff7c7c;
  --header-table: #5B8E43;
  --form-padding: 20px;
  --button-height: 40px;
}
